<h1>Displaying <%# @requested_user.username %>'s shared lists</h1>

<p>
<% if collection.blank? %>
	User has no shared lists.
<% else -%>
	<% collection.each do |task_list| -%>
		<%= render :partial => 'shared/task_list' , :locals => {:task_list => task_list} %>
	<% end -%>
<% end -%>
</p>