<h1>User's profile: <%= resource.username %></h1>

<div class="user" id="picture">
	<h2>User's picture</h2>
	<%= image_tag resource.photo.url %>
</div>

<div class="user" id="properties">
	<h2>User's properties</h2>
	<ul>
		<li>User's shared lists</li>
		<li>All user's lists</li>
		<li>User's watchlist</li>
	</ul>
</div>