<h1>User's profile: <%= resource.username %></h1>

<div class="user" id="picture">
	<h2>User's picture</h2>
	<%= image_tag resource.photo.url %>
</div>

<div class="user" id="properties">
	<h2>User's properties</h2>
	<ul>
		<li><%= link_to 'User\'s shared lists', user_shared_lists_path(resource) %></li>
		<li><%= link_to 'All user\'s lists', user_task_lists_path(resource) %></li>
		<li>User's watchlist</li>
	</ul>
</div>