<h1>OMG!1! Tasks</h1>
<p>I use this application to help me manage my tasks.</p>
<p>To use this app, you must either:
<ul>
	<li><%= link_to 'registrate', User.new %></li>
	<li><%= link_to 'login', new_user_session_path %></li>
</ul>
</p>
